body
{
    background-image: url("tło.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
x-model {
    animation: 5s spin linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotateY(1turn);
    }
  }